data=./data/real
num-classes=20
batch-size=128
split-dir=./data/split/real/
lr=0.05
lr-gamma=0.1
weight-decay=0.0005 
optimizer=SGD
meta-val-interval=4
workers=40
meta-val-metric=cosine
arch=resnet12
save-path=./results/real/resnet12_20_128_50_ssl/student_1
scheduler=multi_step
epochs=50
img-size = 64
;start-epoch=0
;beta=0.1
;meta-test-iter=10000
meta-val-iter=300
;meta-val-way=5
;meta-val-shot=1
;meta-val-query=15
;meta-val-interval=10            ; do mate val in every D epochs

;meta-val-metric='euclidean'     ; 'cosine', 'l1', 'l2'
;num_NN=1                        ; number of nearest neighbors, set this number >1 when do kNN

;meta-train-iter=100
;meta-train-way=30
;meta-train-shot=1
;meta-train-query=15

;meta-train-metric='euclidean'     ; 'cosine', 'l1', 'l2'
;label-smooth=0.1                  ; 0.1 label smoothing, 0.0 no label smoothing
;kappa=1                           ;'Weight between positive and negative samples